@model UsuarioAplicacao;
@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Bem vindo @Model?.Nome</h1>
    <p>Acesse a página Meus Dados para visualizar e alterar suas informações</p>
</div>
